bin/Debug/net6.0/SvuotaCache.deps.json
bin/Debug/net6.0/SvuotaCache.dll
bin/Debug/net6.0/SvuotaCache.exe
bin/Debug/net6.0/SvuotaCache.pdb
bin/Debug/net6.0/SvuotaCache.runtimeconfig.json
bin/Debug/net6.0/ref/SvuotaCache.dll
obj/project.assets.json
obj/project.nuget.cache
obj/SvuotaCache.csproj.nuget.dgspec.json
obj/SvuotaCache.csproj.nuget.g.props
obj/SvuotaCache.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/SvuotaCache.AssemblyInfo.cs
obj/Debug/net6.0/SvuotaCache.AssemblyInfoInputs.cache
obj/Debug/net6.0/SvuotaCache.assets.cache
obj/Debug/net6.0/SvuotaCache.csproj.AssemblyReference.cache
obj/Debug/net6.0/SvuotaCache.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/SvuotaCache.csproj.FileListAbsolute.txt
obj/Debug/net6.0/SvuotaCache.dll
obj/Debug/net6.0/SvuotaCache.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/SvuotaCache.genruntimeconfig.cache
obj/Debug/net6.0/SvuotaCache.GlobalUsings.g.cs
obj/Debug/net6.0/SvuotaCache.pdb
obj/Debug/net6.0/ref/SvuotaCache.dll
